/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

body {
  height: 100vh;
  min-width: 1000px;
  overflow-x: auto;
}

/* Header Stuff */

header {
  height: 10vh;
  background: rgba(59, 64, 89);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}

header h1 {
  color: rgba(245, 251, 255);
  font-size: 2rem;
}

.search-location {
  background-color: rgba(77, 84, 102);
  border: none;
  padding: 0.5em;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  transition: 0.2s ease transform;
}

.search-location:focus {
  transform: scaleY(1.2);
}

.search-location::placeholder {
  color: rgba(140, 147, 163);
}

/* Main Body */

main {
  height: 100vh;
  background: #1e213a;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.hidden * {
  display: none;
}

.temp-value {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
}

.temp-info {
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.temp-types {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
}

.temp-types p {
  transition: ease 0.2s transform;
}

.temp-types .active {
  color: white;
  transform: scale(1.4);
}

.weather-event {
  font-size: 1.2rem;
}

.event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8em;
}

.weather-info {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

/* Forecast Row */

.forecast {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
  margin-top: 3%;
  width: 100%;
}

.forecast-item {
  display: flex;
  flex-direction: column;
  width: 110px;
}

.card-header,
.card-body {
  padding: 1em;
}

.card-header {
  font-size: 1.1rem;
  text-align: center;
}

.card-body {
  background-color: rgba(38, 44, 64);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border-radius: 10px;
  flex: 1;
  text-align: center;
}

.card-temps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
