/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

/* Header Stuff */

header {
  height: 10vh;
  background: rgba(59, 64, 89);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}

header h1 {
  color: rgba(245, 251, 255);
  font-size: 2rem;
}

.search-bar form input[type="text"] {
  background-color: rgba(77, 84, 102);
  border: none;
  padding: 0.5em;
}

.search-bar form input[type="text"]::placeholder {
  color: rgba(140, 147, 163);
}

/* Main Body */

main {
  height: 90vh;
  background: #1e213a;
  color: white;
}
